<section class="section section--gray about">
  <div class="container about__container">
    <h2 class="section__title about__title" id="about">О Фонде</h2>
    <div class="about__content">
      <ul class="about__text list-reset">
        <li class="about__text-item">Потеряшки  - благотворительный фонд помощи животным, в котором командой волонтеров, сообща оказывается комплексная помощь животным. Кошек и собак лечат, кастрируют, вакцинируют, чипируют и находят хозяина.
          У нас нет приюта и нет места куда можно привезти ставшего ненужным питомца, все животные проживают на передержках.</li>
        <li class="about__text-item">Благотворительный фонд помощи животным «Горячая линия «Потеряшки» это не «приют» и не «скорая помощь», готовая принять найденного или ставшее ненужным животное.</li>
        <li class="about__text-item">С 2009 года благотворительный фонд помощи животным «Горячая линия «Потеряшки» помогает животным попавшим в беду.</li>
        <li class="about__text-item">«Потеряшки» - это слаженная работа большой команды кураторов, волонтеров, неравнодушных людей, которые объединяя усилия помогают животным.</li>
        <li class="about__text-item">Вместе мы уже помогли многим, с вашей помощью мы сможем еще больше!</li>
      </ul>
      <picture class="about__picture">
        <source srcset="img/cat-1.webp" type="image/webp">
        <img loading="lazy" src="img/cat-1.png" class="image" width="488" height="592" alt="Кот">
      </picture>
    </div>
  </div>
</section>
