<section class="section section--yellow animals">
  <div class="container animals__container">
    <h2 class="section__title animals__title" id="animals">Наши животные</h2>
    <ul class="animals__cards list-reset">
      <li class="animals__card">
        <picture class=animals__card-picture">
          <source srcset="img/animals-1.webp" type="image/webp">
          <img loading="lazy" src="img/animals-1.jpg" class="image" width="320" height="345" alt="Собаки">
        </picture>
        <h3 class="animals__card-title">Собаки</h3>
      </li>
      <li class="animals__card">
        <picture class=animals__card-picture">
          <source srcset="img/animals-2.webp" type="image/webp">
          <img loading="lazy" src="img/animals-2.jpg" class="image" width="320" height="345" alt="Щенки">
        </picture>
        <h3 class="animals__card-title">Щенки</h3>
      </li>
      <li class="animals__card">
        <picture class=animals__card-picture">
          <source srcset="img/animals-3.webp" type="image/webp">
          <img loading="lazy" src="img/animals-3.jpg" class="image" width="320" height="345" alt="Кошки">
        </picture>
        <h3 class="animals__card-title">Кошки</h3>
      </li>
      <li class="animals__card">
        <picture class=animals__card-picture">
          <source srcset="img/animals-4.webp" type="image/webp">
          <img loading="lazy" src="img/animals-4.jpg" class="image" width="320" height="345" alt="Котята">
        </picture>
        <h3 class="animals__card-title">Котята</h3>
      </li>
    </ul>
  </div>
</section>
