<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img loading="lazy" src="img/svg/logo.svg" class="image" width="292" height="34" alt="Логотип Потеряшки">
    </a>
    <nav class="nav" title="Главное меню">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#animals" class="nav__link" data-scroll>Наши животные</a></li>
        <li class="nav__item"><a href="#about" class="nav__link" data-scroll>О нас</a></li>
        <li class="nav__item"><a href="#help" class="nav__link" data-scroll>Как помочь</a></li>
        <li class="nav__item"><a href="#news" class="nav__link" data-scroll>Новости</a></li>
      </ul>
    </nav>
    <a href="tel:+79044945566" class="phone">+7 (904) 494-55-66</a>
    <a href="#animals" class="header__link btn btn-reset" data-scroll>Пожертвовать</a>
  </div>
</header>
