<section class="section section--yellow help">
  <div class="container help__container">
    <h2 class="section__title help__title" id="help">Как нам помочь</h2>
    <ul class="help__list list-reset">
      <li class="help__item card help__card bordered">
        <picture class="card__picture">
          <source srcset="img/help/1.webp" type="image/webp">
          <img loading="lazy" src="img/help/1.jpg" class="image" width="122" height="144" alt="Сделать пожертвование">
        </picture>
        <h3 class="card__title">Сделать пожертвование</h3>
      </li>
      <li class="help__item card help__card bordered">
        <picture class="card__picture">
          <source srcset="img/help/2.webp" type="image/webp">
          <img loading="lazy" src="img/help/2.jpg" class="image" width="122" height="144" alt="Взять на передержку">
        </picture>
        <h3 class="card__title">Взять на передержку</h3>
      </li>
      <li class="help__item card help__card bordered">
        <picture class="card__picture">
          <source srcset="img/help/3.webp" type="image/webp">
          <img loading="lazy" src="img/help/3.jpg" class="image" width="130" height="101" alt="Помочь транспортом">
        </picture>
        <h3 class="card__title">Помочь транспортом</h3>
      </li>
      <li class="help__item card help__card bordered">
        <picture class="card__picture">
          <source srcset="img/help/4.webp" type="image/webp">
          <img loading="lazy" src="img/help/4.jpg" class="image" width="113" height="125" alt="Пополнить баланс гл">
        </picture>
        <h3 class="card__title">Пополнить баланс гл</h3>
      </li>
      <li class="help__item card help__card bordered">
        <picture class="card__picture">
          <source srcset="img/help/5.webp" type="image/webp">
          <img loading="lazy" src="img/help/5.jpg" class="image" width="164" height="129" alt="Передать вещи для животных">
        </picture>
        <h3 class="card__title">Передать вещи для животных</h3>
      </li>
      <li class="help__item card help__card bordered">
        <picture class="card__picture">
          <source srcset="img/help/6.webp" type="image/webp">
          <img loading="lazy" src="img/help/6.jpg" class="image" width="138" height="138" alt="Стать партнёром">
        </picture>
        <h3 class="card__title">Стать партнёром</h3>
      </li>
      <li class="help__item card help__card bordered">
        <picture class="card__picture">
          <source srcset="img/help/7.webp" type="image/webp">
          <img loading="lazy" src="img/help/7.jpg" class="image" width="126" height="143" alt="Участвовать в акциях">
        </picture>
        <h3 class="card__title">Участвовать в акциях</h3>
      </li>
      <li class="help__item card help__card bordered">
        <picture class="card__picture">
          <source srcset="img/help/8.webp" type="image/webp">
          <img loading="lazy" src="img/help/8.jpg" class="image" width="122" height="150" alt="Стать волонтёром">
        </picture>
        <h3 class="card__title">Стать волонтёром</h3>
      </li>
    </ul>
  </div>
</section>
