<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        <span class="hero__title-text">горячая линия</span>
        <img loading="lazy" src="img/svg/logo-title.svg" class="image hero__title-image" width="568" height="66" alt="Потеряшки">
        <span class="hero__title-text">благотворительный фонд помощи животным</span>
      </h1>
      <a href="#animals" class="hero__link btn btn-reset" data-scroll>Найти друга</a>
    </div>
  </div>
</section>
