<section class="section section--gray programs">
  <div class="container programs__container">
    <h2 class="section__title programs__title" id="programs">Наши программы</h2>
    <ul class="programs__list list-reset">
      <li class="card programs__item bordered card--yellow">
        <picture class="card__picture">
          <source srcset="img/programs/1.webp" type="image/webp">
          <img loading="lazy" src="img/programs/1.jpg" class="image" width="340" height="345" alt="Подари счастливую жизнь">
        </picture>
        <h3 class="card__title">Подари счастливую жизнь</h3>
      </li>
      <li class="card programs__item bordered card--yellow">
        <picture class="card__picture">
          <source srcset="img/programs/2.webp" type="image/webp">
          <img loading="lazy" src="img/programs/2.jpg" class="image" width="340" height="345" alt="Отлов-стерилизация-возврат">
        </picture>
        <h3 class="card__title">Отлов-стерилизация-возврат</h3>
      </li>
      <li class="card programs__item bordered card--yellow">
        <picture class="card__picture">
          <source srcset="img/programs/3.webp" type="image/webp">
          <img loading="lazy" src="img/programs/3.jpg" class="image" width="340" height="345" alt="Горячая линия">
        </picture>
        <h3 class="card__title">Горячая линия</h3>
      </li>
    </ul>
  </div>
</section>
