<section class="section section--gray team">
  <div class="container team__container">
    <h2 class="section__title team__title" id="teams">Наша команда</h2>
    <ul class="team__cards list-reset">
      <li class="card team__card bordered card--person">
        <picture class="card__picture">
          <source srcset="img/team/1.webp" type="image/webp">
          <img loading="lazy" src="img/team/1.jpg" class="image" width="463" height="464" alt="Здорнова Евгения">
        </picture>
        <h3 class="card__title">Здорнова Евгения</h3>
        <h4 class="card__subtitle">Учредитель фонда</h4>
      </li>
      <li class="card team__card bordered card--person">
        <picture class="card__picture">
          <source srcset="img/team/2.webp" type="image/webp">
          <img loading="lazy" src="img/team/2.jpg" class="image" width="463" height="464" alt="Гулецкая Ольга">
        </picture>
        <h3 class="card__title">Гулецкая Ольга</h3>
        <h4 class="card__subtitle">Директор, учредитель фонда</h4>
      </li>
      <li class="card team__card bordered card--person">
        <picture class="card__picture">
          <source srcset="img/team/3.webp" type="image/webp">
          <img loading="lazy" src="img/team/3.jpg" class="image" width="463" height="464" alt="Ботяева Мария">
        </picture>
        <h3 class="card__title">Ботяева Мария</h3>
        <h4 class="card__subtitle">Куратор передержки</h4>
      </li>
      <li class="card team__card bordered card--person">
        <picture class="card__picture">
          <source srcset="img/team/4.webp" type="image/webp">
          <img loading="lazy" src="img/team/4.jpg" class="image" width="463" height="464" alt="Татьяна Воробьева">
        </picture>
        <h3 class="card__title">Татьяна Воробьева</h3>
        <h4 class="card__subtitle">Куратор породистых кошек</h4>
      </li>
      <li class="card team__card bordered card--person">
        <picture class="card__picture">
          <source srcset="img/team/5.webp" type="image/webp">
          <img loading="lazy" src="img/team/5.jpg" class="image" width="463" height="464" alt="Полина Полякова">
        </picture>
        <h3 class="card__title">Полина Полякова</h3>
        <h4 class="card__subtitle">Куратор щенков</h4>
      </li>
      <li class="card team__card bordered card--person">
        <picture class="card__picture">
          <source srcset="img/team/6.webp" type="image/webp">
          <img loading="lazy" src="img/team/6.jpg" class="image" width="463" height="464" alt="Криволапова Екатерина">
        </picture>
        <h3 class="card__title">Криволапова Екатерина</h3>
        <h4 class="card__subtitle">Волонтер</h4>
      </li>
    </ul>
    <a href="#" class="team__btn btn btn-reset">Развернуть</a>
  </div>
</section>
