<section class="section section--yellow values">
  <div class="container values__container">
    <h2 class="section__title values__title" id="values">Наши ценности</h2>
    <ul class="values__list list-reset">
      <li class="values__item">
        <h3 class="values__item-title">Открытость</h3>
        <p class="values__item-text">Мы стремимся к прозрачности своей деятельности. Следуем принятым правилам. Рассказываем о ходе и результатах своей работы. Мы открыты для тех, кто хочет стать частью команды. Мы публикуем отчеты за каждый год, которые вы можете найти на нашем сайте.</p>
      </li>
      <li class="values__item">
        <h3 class="values__item-title">Ответственность</h3>
        <p class="values__item-text">Мы без преувеличения несем ответственность за жизни. Мы руководствуемся назначениями ветеринарных врачей, консультируемся с лучшими специалистами, руководствуемся принципами доказательной медицины. Мы руководствуемся принципом «не навреди».</p>
      </li>
      <li class="values__item">
        <h3 class="values__item-title">Системность</h3>
        <p class="values__item-text">Более 13 лет наша основная цель – снижение численности бездомных животных. По этой причине, все животные Фонда передаются новому хозяину кастрированными, вакцинированными, готовыми к чипированию. Это касается как беспородных, так и породистых животных.</p>
      </li>
    </ul>
  </div>
</section>
