// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Jost", sans-serif;
  --content-width: 1640px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --accent-color: #ef6a29;
  --yellow-color: #f3d27d;
  --gray-color: #f1f1f1;
  --dark-color: #000;
  --text-color: #222;
}
